# Run ecs_service_discovery.py every 3 minutes
* * * * * /usr/local/bin/python /app/main.py --cluster_name="<ecs_cluster_name>" --output_dir /shared_volume/ --scrape_port 9097 --region "ap-south-1" >> /var/log/cron.log 2>&1

# An empty line is required at the end of this file for a valid cron file.
